<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-scalr-index") %>>
                    <a href="/docs/providers/scalr/index.html">Scalr Provider</a>
                </li>

                <li<%= sidebar_current("docs-scalr-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-datasource-scalr-workspace-x") %>>
                            <a href="/docs/providers/scalr/d/workspace.html">scalr_workspace</a>
                        </li>

                        <li<%= sidebar_current("docs-datasource-scalr-workspace-ids") %>>
                            <a href="/docs/providers/scalr/d/workspace_ids.html">scalr_workspace_ids</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-scalr-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-resource-scalr-variable") %>>
                            <a href="/docs/providers/scalr/r/variable.html">scalr_variable</a>
                        </li>

                        <li<%= sidebar_current("docs-resource-scalr-workspace") %>>
                            <a href="/docs/providers/scalr/r/workspace.html">scalr_workspace</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
